[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CNVfilteR"]
	path = CNVfilteR
	url = https://github.com/jpuntomarcos/cnvfilter
